<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:mipmap/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTeamsApp2024"
        tools:targetApi="31">
        <activity
            android:name=".EditarEquipoActivity"
            android:exported="false" />
        <activity
            android:name=".MiCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".MostrarJugadorActivity"
            android:exported="false" />
        <activity
            android:name=".MostrarJugadorAcitivty"
            android:exported="false" />
        <activity
            android:name=".EditarPartidoActivity"
            android:exported="false" />
        <activity
            android:name=".MostrarPartidoActivity"
            android:exported="false" />
        <activity
            android:name=".AddSustitucionActivty"
            android:exported="false" />
        <activity
            android:name=".SustitucionesPartido"
            android:exported="false" />
        <activity
            android:name=".AddTarjetaActivity"
            android:exported="false" />
        <activity
            android:name=".AmonestacionesPartidoActivity"
            android:exported="false" />
        <activity
            android:name=".SeleccionarJugadorEventoActivity"
            android:exported="false" />
        <activity
            android:name=".GolesPartidoActivity"
            android:exported="false" />
        <activity
            android:name=".AddGolActivity"
            android:exported="false" />
        <activity
            android:name=".AddEventoActivity"
            android:exported="false" />
        <activity
            android:name=".AddSuplentesActivity"
            android:exported="false" />
        <activity
            android:name=".AddTitularesActivity"
            android:exported="false" />
        <activity
            android:name=".AddPartidoActivity"
            android:exported="false" />
        <activity
            android:name=".PartidosActivity"
            android:exported="false" />
        <activity
            android:name=".AddPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".PlayersActivity"
            android:exported="false" />
        <activity
            android:name=".TeamActivity"
            android:exported="false" />
        <activity
            android:name=".AddTeamActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".startup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".startup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".startup.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>